.stashesOverview {
  width: 100vw;
  display: flex;
}
.stashesOverview .sidebar {
  height: 100vh;
  background-color: var(--dark-blue);
  flex: 0.2;
  min-width: 180px;
  overflow-x: hidden;
  position: sticky;
  top: 0;
  left: 0;
}
.stashesOverview .sidebar .sidebar-logo {
  cursor: pointer;
  padding: 1.2rem;
  color: var(--off-red);
  font-size: 2.7rem;
  font-family: var(--font-logo);
  font-weight: 900;
  text-align: center;
}
.stashesOverview .sidebar .sidebar-option {
  cursor: pointer;
  padding: 0.3rem 0.7rem;
  display: flex;
  align-items: center;
  margin: 12px 0px;
  font-size: 1.3rem;
  font-weight: 300;
  font-family: var(--font-display);
  color: var(--main-white);
  transition: background-color 100ms;
}
.stashesOverview .sidebar .sidebar-option svg {
  font-size: 1.5rem;
  margin-right: 12px;
  color: var(--main-white);
}
.stashesOverview .sidebar .sidebar-option:hover {
  opacity: 0.9;
  color: var(--off-red);
}
.stashesOverview .sidebar .sidebar-option:hover svg {
  color: var(--off-red);
}
.stashesOverview .stashstorage {
  flex: auto;
  height: 100vh;
  overflow-y: scroll;
}
.stashesOverview .stashstorage .storage-sorting {
  position: sticky;
  top: 15px;
  width: 90%;
  height: 100px;
  margin: 32px auto;
  padding: 0.8rem;
  background-color: #fbf9f9;
  z-index: 3;
  box-shadow: 0px 0px 25px black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.stashesOverview .stashstorage .storage-sorting .sorting-layoutToggler {
  float: left;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: var(--dark-blue);
  border-radius: 5px;
}
.stashesOverview .stashstorage .storage-sorting .sorting-layoutToggler:hover {
  opacity: 0.8;
}
.stashesOverview .stashstorage .storage-sorting .sorting-layoutToggler span {
  background-color: var(--off-red);
  opacity: 0.9;
  display: block;
  transition: height 400ms;
}
.stashesOverview .stashstorage .storage-sorting .sorting-layoutToggler.sorting-rowLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 8px 0;
}
.stashesOverview .stashstorage .storage-sorting .sorting-layoutToggler.sorting-rowLayout span {
  width: 80%;
  height: 15%;
  border-radius: 6px;
}
.stashesOverview .stashstorage .storage-sorting .sorting-layoutToggler.sorting-cardLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  padding: 0.1rem;
}
.stashesOverview .stashstorage .storage-sorting .sorting-layoutToggler.sorting-cardLayout span {
  width: 80%;
  height: 80%;
  border-radius: 23%;
}
.stashesOverview .stashstorage .storage-sorting .toggleDropdowns {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.stashesOverview .stashstorage .storage-sorting .toggleDropdowns span {
  width: 70%;
  height: 11%;
  background-color: var(--off-red);
  display: block;
  position: absolute;
  border-radius: 12px;
}
.stashesOverview .stashstorage .storage-sorting .toggleDropdowns span:nth-child(2) {
  transform: rotate(90deg);
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-rowsLayout {
  display: grid;
  padding: 15px;
  grid-template-columns: 1fr;
  place-items: center;
  row-gap: 0.2em !important;
  width: 100%;
  margin: 0 auto;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-rowsLayout .storageitem {
  width: 98%;
  position: relative;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-rowsLayout .storageitem input {
  position: absolute;
  z-index: -1;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-rowsLayout .storageitem input:checked ~ .storageitem-dropdown {
  height: 500px;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-rowsLayout .storageitem input:checked ~ .storageitem-overhall {
  border-left: solid 4px var(--off-red);
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-rowsLayout .storageitem label {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-rowsLayout .storageitem .storageitem-overhall {
  cursor: pointer;
  padding: 0.3rem 1.2rem;
  min-height: 110px;
  background: var(--dark-blue);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-rowsLayout .storageitem .storageitem-overhall .storageitem-image {
  width: 195px;
  height: 95%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-rowsLayout .storageitem .storageitem-overhall .storageitem-info {
  box-sizing: border-box;
  width: 95%;
  place-self: center;
  color: white;
  font-family: var(--font-display);
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-rowsLayout .storageitem .storageitem-overhall .storageitem-info div {
  padding: 0.1rem 0.4rem;
  line-height: 1.2em;
  border-left: solid var(--off-red) 1px;
  word-wrap: break-word;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-rowsLayout .storageitem .storageitem-overhall .storageitem-info div h6 {
  font-weight: 100;
  font-size: 1rem;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-rowsLayout .storageitem .storageitem-overhall .storageitem-info div h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--off-red);
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-rowsLayout .storageitem .storageitem-overhall .storageitem-info div p {
  padding: 2px 0;
  font-weight: 300;
  font-size: 1.4rem;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-rowsLayout .storageitem .storageitem-dropdown {
  background: var(--dark-blue);
  height: 0px;
  transition: height 400ms;
  overflow: hidden;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-rowsLayout .storageitem .storageitem-dropdown-image {
  width: 330px;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-rowsLayout .storageitem .storageitem-dropdown-info {
  width: 50%;
  height: 350px;
  background: blue;
  color: white;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-cardsLayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fit, 1f);
  place-items: center;
  padding: 10px;
  row-gap: 1em;
  column-gap: 1em;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-cardsLayout .storageitem {
  width: 100%;
  height: 410px;
  overflow: hidden;
  position: relative;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-cardsLayout .storageitem .storageitem-customizeIcon {
  position: absolute;
  width: 42px;
  height: 42px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: solid 1px black;
  display: grid;
  place-items: center;
  transition: 400ms;
  cursor: pointer;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-cardsLayout .storageitem .storageitem-customizeIcon svg {
  height: 100%;
  transition: 400ms;
  color: black;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-cardsLayout .storageitem .storageitem-customizeIcon:hover {
  border: solid 1px var(--off-red);
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-cardsLayout .storageitem .storageitem-customizeIcon:hover svg {
  color: var(--off-red);
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-cardsLayout .storageitem input {
  cursor: cell;
  position: absolute;
  z-index: -999;
  background-color: orchid;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-cardsLayout .storageitem input:checked ~ .storageitem-container {
  transform: translate(-50%, 0);
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-cardsLayout .storageitem label {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  background-color: transparent;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-cardsLayout .storageitem .storageitem-container {
  width: 200%;
  transform: translate(0, 0);
  transition: transform 400ms;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-cardsLayout .storageitem .storageitem-container .storageitem-overhall {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-cardsLayout .storageitem .storageitem-container .storageitem-overhall .storageitem-image {
  display: block;
  height: 280px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-cardsLayout .storageitem .storageitem-container .storageitem-overhall .storageitem-info {
  padding: 6px 0px 0px 10px;
  color: black;
  font-family: var(--font-display);
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-cardsLayout .storageitem .storageitem-container .storageitem-overhall .storageitem-info h3 {
  font-size: 1.3rem;
  font-weight: 300;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-cardsLayout .storageitem .storageitem-container .storageitem-overhall .storageitem-info span {
  opacity: 0.8;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-cardsLayout .storageitem .storageitem-container .storageitem-overhall .storageitem-info span h6 {
  font-size: 1rem;
  font-weight: 200;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-cardsLayout .storageitem .storageitem-container .storageitem-overhall .storageitem-info span p {
  font-weight: 200;
  font-size: 0.9rem;
}
.stashesOverview .stashstorage .storage-itemsContainer.storage-container-cardsLayout .storageitem .storageitem-container .storageitem-dropdown {
  width: 100%;
  height: 100%;
  background-color: blue;
}
@media screen and (max-width: 1000px) {
  .stashesOverview .storage-itemsContainer {
    background-color: red;
  }
}
.stashesOverview .stashesContainer {
  width: 100%;
  height: 100vh;
  background: var(--main-white);
  overflow-y: scroll;
}
.stashesOverview .stashesContainer .currentStashes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  border-radius: 12px;
  margin: 30px auto;
  padding: 35px 5px;
  box-shadow: 0px 0px 20px var(--dark-blue);
}
.stashesOverview .stashesContainer .currentStashes .stashcard {
  margin: 10px 5px;
}
.stashesOverview .dashboard {
  width: 100%;
  height: 100vh;
  background-color: var(--dark-blue-light);
  overflow-y: scroll;
}
.stashesOverview .dashboard .analyticsheader {
  width: 100%;
  background-color: var(--dark-blue);
  padding: 30px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-display);
}
.stashesOverview .dashboard .analyticsheader h2 {
  font-size: 2.1rem;
  font-weight: 300;
  color: var(--analytics-text-color);
}
.stashesOverview .dashboard .quickShowContainer {
  width: 95%;
  margin: 42px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.stashesOverview .dashboard .quickShowContainer .quickShowItem {
  width: 31%;
  height: 140px;
  color: var(--analytics-text-color);
  background-color: var(--dark-blue);
  box-shadow: 1px 1px 10px #181818;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--font-display);
}
.stashesOverview .dashboard .quickShowContainer .quickShowItem .quickShowItem-text h4 {
  font-weight: 600;
  font-size: 1.2rem;
  color: inherit;
}
.stashesOverview .dashboard .quickShowContainer .quickShowItem .quickShowItem-text p {
  opacity: 0.7;
  font-size: 1rem;
  color: inherit;
}
.stashesOverview .dashboard .quickShowContainer .quickShowItem .quickShowItem-icon {
  width: 75px;
  height: 75px;
  display: grid;
  border-radius: 50%;
  border: solid 1px var(--off-red);
  place-items: center;
}
.stashesOverview .dashboard .quickShowContainer .quickShowItem .quickShowItem-icon svg {
  width: auto;
  height: 50%;
  color: var(--off-red);
}
.stashesOverview .dashboard .quickShowContainer .quickShowItem .quickShowItem-icon svg:nth-child(2) {
  color: #45ffff;
}
.stashesOverview .dashboard .quickShowContainer .quickShowItem:nth-child(2) .quickShowItem-icon {
  border-color: #45ffff;
}
.stashesOverview .dashboard .quickShowContainer .quickShowItem:nth-child(2) .quickShowItem-icon svg {
  color: #45ffff;
}
.stashesOverview .dashboard .quickShowContainer .quickShowItem:nth-child(3) .quickShowItem-icon {
  border-color: #ff23f0;
}
.stashesOverview .dashboard .quickShowContainer .quickShowItem:nth-child(3) .quickShowItem-icon svg {
  color: #ff23f0;
}
.stashesOverview .dashboard .quickShowContainer .quickShowItem .quickShowItem-graph {
  padding-left: 5px;
  display: grid;
  place-items: center;
  font-family: var(--font-display);
  font-size: 1.4rem;
  font-weight: 300;
  color: #30ee00;
  border-left: solid 1px #30ee00;
}
.stashesOverview .dashboard .quickShowContainer .quickShowItem .red {
  color: #ee0000;
  border-left: solid 1px #ee0000;
}
.stashesOverview .dashboard .analytics-graph {
  width: 95%;
  height: 400px;
  margin: 0 auto;
  background-color: var(--dark-blue);
  position: relative;
  color: #ff00002d;
  box-shadow: 0px 0px 8px #070707;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --main-white: #dfe3ff;
  --dark-blue: #232538;
  --dark-blue-light: #26273d;
  --off-red: #6c66fb;
  --analytics-text-color: white;
  --font-logo: "Titan One", cursive;
  --font-display: "Lato", sans-serif;
}

body {
  height: 100vh;
  background-color: white;
  overflow: hidden;
}
body .loadingspinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .loadingspinner p {
  padding: 2px;
  font-size: 5rem;
  font-family: var(--font-logo);
  color: var(--dark-blue);
  position: relative;
  z-index: -1;
}
body .loadingspinner-spinner {
  position: absolute;
  width: 351px;
  height: 351px;
  padding: 10px;
  z-index: 33030;
}
body .loadingspinner-spinner .circle-line {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  border-radius: 100%;
  animation: rotate180 2000ms infinite;
  border: 5px solid transparent;
  border-top-color: var(--off-red);
}
body .loadingspinner-spinner .circle-line:nth-child(1) {
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  animation-delay: 0s;
}
body .loadingspinner-spinner .circle-line:nth-child(2) {
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  animation-delay: 0.4s;
}
body .loadingspinner-spinner .circle-line:nth-child(3) {
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
  animation-delay: 0.8s;
}
body .loadingspinner-spinner .circle-line:nth-child(4) {
  left: 30%;
  top: 30%;
  width: 40%;
  height: 40%;
  animation-delay: 1.2s;
}
body .loadingspinner-spinner .circle-line:nth-child(5) {
  left: 40%;
  top: 40%;
  width: 20%;
  height: 20%;
  animation-delay: 1.6s;
}
@keyframes rotate180 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body .stashcard {
  margin: 0px 10px;
  cursor: pointer;
  width: 260px;
  min-height: 380px;
  border-radius: 3%;
  background-color: var(--dark-blue);
  box-shadow: 2px 2px 5px var(--off-red);
  position: relative;
}
body .stashcard .stashcard-image {
  height: 185px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body .stashcard .stashcard-info {
  padding: 0.6rem 1rem;
  font-family: var(--font-display);
}
body .stashcard .stashcard-info .stashcard-header {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--off-red);
  margin-bottom: 13px;
}
body .stashcard .stashcard-info p {
  margin: 3px 0px;
  padding: 0.1rem 0;
  letter-spacing: 2px;
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--main-white);
}
body .stashcard .stashcard-info p span {
  color: var(--off-red);
  text-shadow: 0px 0px 0px var(--off-red);
}
body .stashcard .stashcard-CreateNew {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}
body .stashcard .stashcard-CreateNew .stashcard-Circle {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: var(--off-red);
  position: relative;
}
body .stashcard .stashcard-CreateNew .stashcard-Circle div {
  width: 47px;
  height: 6px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--dark-blue);
}
body .stashcard .stashcard-CreateNew .stashcard-Circle div:nth-child(1) {
  transform: translate(-50%, -50%) rotate(90deg);
}
body .stashcard .stashcard-CreateNew p {
  padding-top: 10px;
  color: var(--off-red);
  font-size: 1.2rem;
  font-family: var(--font-display);
  font-weight: 300;
}

/*# sourceMappingURL=global.css.map */
