// importing styles for diffrent componentscd
//navbar
// @import './components/navbar/navbar';
//stashesOverview
@import './components/stashesOverview/stashesOverview';

//sass --watch src/global.scss:src/global.css

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
}

// :root {
//     --main-white: #dfe3ff;
//     --dark-blue: #232538;
//     --dark-blue-light: #26273d;
//     --off-red: #6c66fb;
//     --analytics-text-color: white;
//     --font-logo: 'Titan One', cursive;
//     --font-display: 'Lato', sans-serif;
// }

:root {
    --main-white: #0197f6;
    --dark-blue: #02182b;
    --dark-blue-light: #023150;
    --off-red: #d7263d;
    --text-color: black;
    --font-logo: 'Titan One', cursive;
    --font-display: 'Lato', sans-serif;
}

// :root {
//     --main-white: #fffcf9;
//     --dark-blue: #352d39;
//     --dark-blue-light: #252027;

//     --off-red: #ff6978;
//     --font-logo: 'Titan One', cursive;
//     --font-display: 'Lato', sans-serif;
// }
// :root {
//     --main-white: #fff;
//     // --dark-blue: #1b1f3b;
//     // --dark-blue: #1a1423;
//     // --off-red: #65afff;
//     --dark-blue: #1d201f;
//     --off-red: #ff6663;

//     // e85d75
//     --font-logo: 'Titan One', cursive;
//     --font-display: 'Lato', sans-serif;
// }
// :root {
//     --main-white: #ffeddf;
//     --dark-blue: #0d1321;
//     --dark-blue-light: rgb(49, 44, 51);
//     --text-color: rgb(228, 228, 228);
//     --analytics-text-color: white;

//     --off-red: #c5d86d;
//     --font-logo: 'Titan One', cursive;
//     --font-display: 'Lato', sans-serif;
// }

body {
    height: 100vh;

    //the genarl stash loading spinner
    & .loadingspinner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & p {
            padding: 2px;
            font-size: 5rem;
            font-family: var(--font-logo);
            color: var(--dark-blue);
            position: relative;
            z-index: -1;
        }

        &-spinner {
            position: absolute;
            width: 351px;
            height: 351px;
            padding: 10px;
            z-index: 33030;

            .circle-line {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                position: absolute;
                border-radius: 100%;
                animation: rotate180 2000ms infinite;
                border: 5px solid transparent;
                border-top-color: var(--off-red);
                @for $i from 1 through 5 {
                    &:nth-child(#{$i}) {
                        left: 10% * ($i - 1);
                        top: 10% * ($i - 1);
                        width: 100% - 20% * ($i - 1);
                        height: 100% - 20% * ($i - 1);
                        animation-delay: 0.4s * ($i - 1);
                    }
                }
            }

            @keyframes rotate180 {
                0% {
                    transform: rotate(0deg);
                }
                50% {
                    transform: rotate(180deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }

    //genarl style for the stash card, will mostly be simple markup and might be
    //changed in other files
    & .stashcard {
        margin: 0px 10px;
        cursor: pointer;
        width: 260px;
        min-height: 380px;
        border-radius: 3%;
        background-color: var(--dark-blue);
        box-shadow: 2px 2px 5px var(--off-red);
        position: relative;

        // following code is used to style a card that has store
        & .stashcard-image {
            height: 185px;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        & .stashcard-info {
            padding: 0.6rem 1rem;
            font-family: var(--font-display);

            & .stashcard-header {
                font-size: 1.7rem;
                font-weight: 500;
                color: var(--off-red);
                margin-bottom: 13px;
            }

            & p {
                margin: 3px 0px;
                padding: 0.1rem 0;
                letter-spacing: 2px;
                font-size: 1.1rem;
                font-weight: 300;
                color: var(--main-white);

                & span {
                    color: var(--off-red);
                    text-shadow: 0px 0px 0px var(--off-red);
                }
            }
        }

        // styling the creat new card, still using stashcard styling for markup
        & .stashcard-CreateNew {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;

            & .stashcard-Circle {
                width: 82px;
                height: 82px;
                border-radius: 50%;
                background-color: var(--off-red);
                position: relative;

                & div {
                    width: 47px;
                    height: 6px;
                    border-radius: 5px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: var(--dark-blue);

                    &:nth-child(1) {
                        transform: translate(-50%, -50%) rotate(90deg);
                    }
                }
            }
            & p {
                padding-top: 10px;
                color: var(--off-red);
                font-size: 1.2rem;
                font-family: var(--font-display);
                font-weight: 300;
            }
        }
    }
}
