// importing styles for diffrent componentscd
//navbar
// @import './components/navbar/navbar';
//stashesOverview
@import './components/stashesOverview/stashesOverview';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

:root {
    --main-white: #fdfffc;
    --dark-blue: #020887;
    --off-red: #de3c4b;
    --font-logo: 'Titan One', cursive;
    --font-display: 'Lato', sans-serif;
}

body {
    height: 100vh;
    background-color: var(--main-white);
    overflow: hidden;
}
