.stashesOverview {
  width: 100vw;
  display: flex;
}
.stashesOverview .sidebar {
  height: 100vh;
  background-color: var(--dark-blue);
  flex: 0.2;
  min-width: 180px;
  overflow-x: hidden;
  position: sticky;
  top: 0;
  left: 0;
}
.stashesOverview .sidebar .sidebar-logo {
  cursor: pointer;
  padding: 1.2rem;
  color: var(--off-red);
  font-size: 2.7rem;
  font-family: var(--font-logo);
  font-weight: 900;
  text-align: center;
}
.stashesOverview .sidebar .sidebar-option {
  cursor: pointer;
  padding: 0.3rem 0.7rem;
  display: flex;
  align-items: center;
  margin: 12px 0px;
  font-size: 1.3rem;
  font-weight: 300;
  font-family: var(--font-display);
  color: var(--main-white);
  transition: background-color 100ms;
}
.stashesOverview .sidebar .sidebar-option svg {
  font-size: 1.5rem;
  margin-right: 12px;
  color: var(--main-white);
}
.stashesOverview .sidebar .sidebar-option:hover {
  opacity: 0.9;
  color: var(--off-red);
}
.stashesOverview .sidebar .sidebar-option:hover svg {
  color: var(--off-red);
}
.stashesOverview .stashstorage {
  flex: auto;
  height: 100vh;
  overflow-y: scroll;
}
.stashesOverview .stashstorage .storage-sorting {
  position: relative;
  width: 90%;
  height: 100px;
  margin: 0 auto;
  background: linear-gradient(red, pink);
}
.stashesOverview .stashstorage .storage-itemsContainer {
  display: grid;
  padding: 15px;
  grid-template-columns: 1fr;
  place-items: center;
  row-gap: 0.2em !important;
  width: 100%;
  margin: 0 auto;
}
.stashesOverview .stashstorage .storage-itemsContainer .storageitem {
  width: 98%;
  position: relative;
}
.stashesOverview .stashstorage .storage-itemsContainer .storageitem input {
  position: absolute;
  z-index: -1;
}
.stashesOverview .stashstorage .storage-itemsContainer .storageitem input:checked ~ .storageitem-dropdown {
  height: 500px;
}
.stashesOverview .stashstorage .storage-itemsContainer .storageitem input:checked ~ .storageitem-overhall {
  border-left: solid 1px var(--off-red);
}
.stashesOverview .stashstorage .storage-itemsContainer .storageitem label {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.stashesOverview .stashstorage .storage-itemsContainer .storageitem .storageitem-overhall {
  cursor: pointer;
  padding: 0.3rem 1.2rem;
  min-height: 110px;
  background: var(--dark-blue);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.stashesOverview .stashstorage .storage-itemsContainer .storageitem .storageitem-overhall .storageitem-image {
  width: 195px;
  height: 95%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.stashesOverview .stashstorage .storage-itemsContainer .storageitem .storageitem-overhall .storageitem-info {
  box-sizing: border-box;
  width: 95%;
  place-self: center;
  color: white;
  font-family: var(--font-display);
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
}
.stashesOverview .stashstorage .storage-itemsContainer .storageitem .storageitem-overhall .storageitem-info div {
  padding: 0.1rem 0.4rem;
  line-height: 1.2em;
  border-left: solid var(--off-red) 1px;
  word-wrap: break-word;
}
.stashesOverview .stashstorage .storage-itemsContainer .storageitem .storageitem-overhall .storageitem-info div h6 {
  font-weight: 100;
  font-size: 1rem;
}
.stashesOverview .stashstorage .storage-itemsContainer .storageitem .storageitem-overhall .storageitem-info div h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--off-red);
}
.stashesOverview .stashstorage .storage-itemsContainer .storageitem .storageitem-overhall .storageitem-info div p {
  padding: 2px 0;
  font-weight: 300;
  font-size: 1.4rem;
}
.stashesOverview .stashstorage .storage-itemsContainer .storageitem .storageitem-dropdown {
  background: var(--dark-blue);
  height: 0px;
  transition: height 400ms;
  overflow: hidden;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.stashesOverview .stashstorage .storage-itemsContainer .storageitem .storageitem-dropdown-image {
  width: 330px;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.stashesOverview .stashstorage .storage-itemsContainer .storageitem .storageitem-dropdown-info {
  width: 50%;
  height: 350px;
  background: blue;
  color: white;
}
@media screen and (max-width: 1000px) {
  .stashesOverview .storage-itemsContainer {
    background-color: red;
  }
}
.stashesOverview .stashesContainer {
  width: 100%;
  height: 100vh;
  background: var(--main-white);
  overflow-y: scroll;
}
.stashesOverview .stashesContainer .currentStashes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  border-radius: 12px;
  margin: 30px auto;
  padding: 35px 5px;
  box-shadow: 0px 0px 20px var(--dark-blue);
}
.stashesOverview .stashesContainer .currentStashes .stashcard {
  margin: 10px 5px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --main-white: #ffeddf;
  --dark-blue: #0d1321;
  --off-red: #c5d86d;
  --font-logo: "Titan One", cursive;
  --font-display: "Lato", sans-serif;
}

body {
  height: 100vh;
  background-color: var(--main-white);
  overflow: hidden;
}
body .stashcard {
  margin: 0px 10px;
  cursor: pointer;
  width: 260px;
  min-height: 380px;
  border-radius: 3%;
  background-color: var(--dark-blue);
  box-shadow: 2px 2px 5px var(--off-red);
  position: relative;
}
body .stashcard .stashcard-image {
  height: 185px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body .stashcard .stashcard-info {
  padding: 0.6rem 1rem;
  font-family: var(--font-display);
}
body .stashcard .stashcard-info .stashcard-header {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--off-red);
  margin-bottom: 13px;
}
body .stashcard .stashcard-info p {
  margin: 3px 0px;
  padding: 0.1rem 0;
  letter-spacing: 2px;
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--main-white);
}
body .stashcard .stashcard-info p span {
  color: var(--off-red);
  text-shadow: 0px 0px 0px var(--off-red);
}
body .stashcard .stashcard-CreateNew {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}
body .stashcard .stashcard-CreateNew .stashcard-Circle {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: var(--off-red);
  position: relative;
}
body .stashcard .stashcard-CreateNew .stashcard-Circle div {
  width: 47px;
  height: 6px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--dark-blue);
}
body .stashcard .stashcard-CreateNew .stashcard-Circle div:nth-child(1) {
  transform: translate(-50%, -50%) rotate(90deg);
}
body .stashcard .stashcard-CreateNew p {
  padding-top: 10px;
  color: var(--off-red);
  font-size: 1.2rem;
  font-family: var(--font-display);
  font-weight: 300;
}

/*# sourceMappingURL=global.css.map */
