.sidebar {
    height: 100vh;
    background-color: var(--dark-blue);
    & .sidebar-logo {
        padding: 1.3rem;
        background-color: aquamarine;
        color: var(--off-red);
        font-size: 2.9rem;
    }
}
