.newitemform {
    width: 100vw;
    height: 490px;
    position: fixed;
    background-color: rgb(255, 251, 209);
    bottom: 0;
    left: 0;
    font-family: var(--font-display);

    & .content {
        height: 440px;
        display: grid;
        grid-template-columns: 0.65fr 0.35fr;

        & .form {
            height: 100%;
            background-color: blue;
        }
        & .showcase {
            display: flex;
            justify-content: center;
            align-items: center;

            & .sidetext {
                writing-mode: vertical-lr;
                background: linear-gradient(var(--off-red), var(--dark-blue));
                background-clip: text;
                color: transparent;
                font-size: 1.8rem;
                font-weight: 200;
                font-family: var(--font-logo);
            }
            & .card {
                width: 300px;
                max-width: 90%;
                min-height: 380px;
                max-height: 96%;

                & .image {
                    height: 290px;
                    background: url('./images/rick1.jpg') center center;
                    background-size: cover;
                }

                & .details {
                    padding-right: 0.3rem;
                    & .name {
                        font-size: 1.4rem;
                        font-family: 300;
                    }

                    & .info {
                        display: flex;
                        font-size: 1.2rem;
                        font-size: 200;
                        justify-content: space-between;
                    }
                }
            }
        }
    }

    & .footer {
        width: 100%;
        display: grid;
        place-items: center;
        padding: 0px 6px;

        & .button {
            cursor: pointer;
            padding: 0 2rem;
            font-size: 1.65rem;
            font-weight: 300;
            border-radius: 15px;
            background-color: var(--off-red);
        }
    }
}
