.filterform {
    position: sticky;
    top: 15px;
    width: 84%;
    height: 90px;
    margin: 32px auto;
    padding: 0.8rem;
    background-color: #fbf9f9;
    z-index: 3;
    box-shadow: 0px 0px 5px black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;

    @include mq--normal() {
        background-color: red;
    }
    & select {
        cursor: pointer;
        width: 230px;
        background-color: #dbdbec;
        padding: 0.3rem 0.4rem;
        font-size: 1.4rem;
        font-family: var(--font-display);

        & option {
            & .option {
                width: 100%;
                padding: 6rem;
            }
        }
    }

    & .addnewitem {
        cursor: pointer;
        font-size: 1.8rem;
        padding: 0.3rem;
        font-family: var(--font-display);
        font-weight: 400;
        background-color: var(--off-red);
    }
}
