.storage-itemsContainer {
    &.storage-container-rowsLayout {
        height: auto;
    }

    //
    //
    //
    //
    // Card Layout
    //
    //
    //
    //
    &.storage-container-cardsLayout {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(auto-fit, 1fr);
        place-items: center;
        padding: 10px 20px;
        row-gap: 1em;
        column-gap: 1em;
        & .storageitem {
            background-color: blue;
            width: 100%;
            height: 360px;
            position: relative;

            // heart icon in the top rigth corner
            & .hearticon {
                width: 30px;
                height: 30px;
                background-color: green;
                position: absolute;
                top: 7px;
                right: 7px;
                display: grid;
                place-items: center;
            }
        }
    }
}
