.storage-itemsContainer {
    margin: 0 auto;

    &.storage-container-rowsLayout {
        height: auto;
    }
    //
    //
    // Card Layout
    //
    //
    &.storage-container-cardsLayout {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 10px 0px;
        row-gap: 1.49em;
        column-gap: 1.5em;
        @include mq--normal() {
            grid-template-columns: repeat(3, 1fr);
            row-gap: 1em;
            column-gap: 0.4em;
        }

        @include mq--mobile() {
            width: 93%;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 0.7em;
            column-gap: 0.4em;
        }

        & .storageitem {
            width: 100%;
            min-height: 480px;
            position: relative;
            @include mq--normal() {
                min-height: 430px;
            }

            @include mq--tablet() {
                min-height: 390px;
            }

            @include mq--mobile() {
                min-height: 320px;
            }

            & .storageitem-image {
                cursor: pointer;
                height: 350px;
                background-size: cover;
                background-position: center;
                @include mq--normal() {
                    height: 310px;
                }

                @include mq--tablet() {
                    height: 240px;
                }
                @include mq--mobile() {
                    height: 210px;
                }
            }

            & .details {
                padding: 10px 0px;
                font-family: var(--font-display);
                @include mq--tablet() {
                    padding: 5px 0px;
                }

                & .name {
                    cursor: pointer;
                    padding-bottom: 9px;
                    line-height: 1rem;
                    font-weight: 400;
                    font-size: 1.1rem;
                    @include mq--tablet() {
                        font-size: 1rem;
                    }

                    @include mq--mobile() {
                        font-size: 0.94rem;
                    }

                    &:hover,
                    &:active,
                    &:focus {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

                & .info {
                    // border-right: 1px var(--off-red);
                    border-style: dashed;
                    font-size: 1.05rem;
                    line-height: 1rem;
                    font-weight: 200;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding-right: 10px;
                    & span {
                        &:nth-child(1) {
                            padding-right: 11px;
                        }
                    }
                    @include mq--tablet() {
                        font-size: 1rem;
                    }

                    @include mq--mobile() {
                        font-size: 0.88rem;
                    }
                }

                & .sizes {
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    padding-top: 8px;
                    @include mq--normal() {
                        padding-top: 6px;
                    }
                    & .size-box {
                        overflow: hidden;
                        display: grid;
                        place-items: center;
                        margin: 3px 3px;
                        @include mq--normal() {
                            width: 25px;
                            height: 25px;
                            margin: 2px 2px;

                            font-size: 0.84rem;
                        }
                        @include mq--mobile() {
                            width: 22px;
                            height: 22px;
                            margin: 1px 1px;

                            font-size: 0.74rem;
                        }
                        width: 28px;
                        height: 28px;
                        border: solid 1px black;
                        border-radius: 7px;
                        font-family: var(--font-display);
                        color: #333;
                        font-weight: 200;
                        font-size: 0.9rem;
                    }
                }

                // heart icon in the top rigth corner
            }
            & .hearticon {
                width: 30px;
                height: 30px;
                position: absolute;
                top: 7px;
                right: 7px;
                display: grid;
                place-items: center;

                & svg {
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    color: #333;
                    &:hover {
                        fill: red;
                    }
                }

                &-filledHeart {
                    & svg {
                        fill: red;
                    }
                }

                @include mq--mobile() {
                    width: 27px;
                    height: 27px;
                    top: 5px;
                    right: 5px;
                    display: grid;
                }
            }
        }
    }
}
