.stashstorage {
    flex: auto;
    height: 100vh;
    overflow-y: scroll;

    @import './sorting';
    @import './itemsLayout';
}

@media screen and (max-width: 1000px) {
    .storage-itemsContainer {
        background-color: red;
    }
}
